@font-face {
    font-family: "alarm clock";
    src: url("./assets/alarmclock.woff2") format("woff2"), url("./assets/alarmclock.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Game Played";
    src: url("./assets/GamePlayed.woff2") format("woff2"), url("./assets/GamePlayed.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/dust2night.jpg");
    background-size: cover;
}

.timer {
    font-family: "alarm clock", sans-serif;
    color: red;
    font-size: 40px;
    display: block;
    position: relative;
    left: 60px;
    bottom: 10px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.timer p {
    display: block;
}

.mistake-counter {
    display: block;
    position: relative;
    top: 15px;
}

#menu {
    background-image: url("./assets/dust2-pixel\ art.jpg");
    background-size: cover;
    border: 2px outset white;
    border-radius: 15px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu h1 {
    font-family: "Game Played";
    font-size: 40px;
    width: 50%;
    padding: 20px;
    color: #693434;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    margin-top: -70px;
}

#menu p {
    font-family: sans-serif;
    font-size: 15px;
    width: 35%;
    padding: 20px;
    background: rgba(105, 52, 52, 0.6);
    border-radius: 15px;
    text-align: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#menu a {
    color: red;
}

#game {
    background-image: url("./assets/bomb-front.png");
    background-size: cover;
    width: 870px;
    height: 750px;
    display: none;
    justify-content: space-around;
    align-items: center;
}

#game-back {
    display: none;
    justify-content: space-around;
}

.loss {
    display: none;
    height: 100%;
    width: 100%;
    background: black;
    justify-content: center;
    align-items: center;
}

.victory {
    height: 100%;
    width: 100%;
    background: green;
    display: none;
    justify-content: center;
    align-items: center;
}

.blue {
    background: blue;
}

.yellow {
    background: yellow;
}

.red {
    background: red;
}

.black {
    background: black;
}

.white {
    background: white;
}

.wire {
    border: 5px solid black;
    width: 200px;
    height: 15px;
    border-radius: 15px;
    margin: 10px 0;
}

.not-completed {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    background: red;
}

.completed {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    background: green;
}

.button-module {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    border: 5px solid black;
    font-size: 15px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 55px;
}

.button:hover,
.wire:hover {
    border: 5px solid orange;
    cursor: pointer;
}

.strip {
    border: 1px solid black;
    height: 20px;
    width: 100px;
    margin-top: 20px;
    position: relative;
    right: 55px;
}

.battery {
    height: 200px;
    width: 100px;
    background: orange;
    border: 1px solid black;
}

.indicatorDiv {
    display: flex;
    align-items: center;
}

.lit {
    background: green;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.not-lit {
    background: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}