#game {
    display: none;
    justify-content: space-around;
}

.blue {
    border: 1px solid black;
    background: blue;
}

.yellow {
    border: 1px solid black;
    background: yellow;
}

.red {
    border: 1px solid black;
    background: red;
}

.black {
    border: 1px solid black;
    background: black;
}

.white {
    border: 1px solid black;
    background: white;
}

.wire {
    width: 200px;
    height: 100px;
    margin: 10px 0;
}

.button {
    font-size: 15px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}