body {
    margin: 0;
}

#game {
    display: none;
    justify-content: space-around;
}

#game-back {
    display: flex;
    justify-content: space-around;
}

.death {
    height: 100%;
    width: 100%;
    background: black;
}

.blue {
    background: blue;
}

.yellow {
    background: yellow;
}

.red {
    background: red;
}

.black {
    background: black;
}

.white {
    background: white;
}

.wire {
    border: 1px solid black;
    width: 200px;
    height: 100px;
    margin: 10px 0;
}

.button {
    border: 1px solid black;
    font-size: 15px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover,
.wire:hover {
    border: 5px solid orange;
}

.strip {
    border: 1px solid black;
    height: 100px;
    width: 200px;
}

.battery {
    height: 200px;
    width: 100px;
    background: orange;
    border: 1px solid black;
}

.indicatorDiv {
    display: flex;
    align-items: center;
}

.lit {
    background: green;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.not-lit {
    background: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}