body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer {}

#menu {
    background-image: url("./assets/dust2-pixel\ art.jpg");
    background-size: cover;
}

#game {
    background-image: url("./assets/bomb-front.png");
    background-size: cover;
    width: 870px;
    height: 750px;
    display: none;
    justify-content: space-around;
    align-items: center;
}

#game-back {
    display: none;
    justify-content: space-around;
}

.loss {
    display: none;
    height: 100%;
    width: 100%;
    background: black;
    justify-content: center;
    align-items: center;
}

.victory {
    height: 100%;
    width: 100%;
    background: green;
    display: none;
    justify-content: center;
    align-items: center;
}

.blue {
    background: blue;
}

.yellow {
    background: yellow;
}

.red {
    background: red;
}

.black {
    background: black;
}

.white {
    background: white;
}

.wire {
    border: 5px solid black;
    width: 200px;
    height: 15px;
    border-radius: 15px;
    margin: 10px 0;
}

.not-completed {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    background: red;
}

.completed {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    background: green;
}

.button-module {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    border: 5px solid black;
    font-size: 15px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 55px;
}

.button:hover,
.wire:hover {
    border: 5px solid orange;
    cursor: pointer;
}

.strip {
    border: 1px solid black;
    height: 20px;
    width: 100px;
    margin-top: 20px;
    position: relative;
    right: 55px;
}

.battery {
    height: 200px;
    width: 100px;
    background: orange;
    border: 1px solid black;
}

.indicatorDiv {
    display: flex;
    align-items: center;
}

.lit {
    background: green;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.not-lit {
    background: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}